.btnAddRemove
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    border-radius: 100px;
    padding: .3rem;
    cursor: pointer;
    font-size: .8rem;
    background-color: #000;
    color: #fff;

    
}
.btnAddRemove_negative,
.btnAddRemove_positive
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

}
